body { 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center; 
    background-color: #f9f9f9; 
    min-height: 100vh;
} 


.body-part {
    margin-top: 100px;
    margin-bottom: 200px;
}

table { 
    width: 80%; 
    margin: auto; 
    border-collapse: collapse; 
    background: white; 
}

th, td { 
    border: 1px solid black; 
    padding: 10px; 
    text-align: center; 
}

input { 
    width: 100px; 
    text-align: center; 
    border: none; 
}

.controls { 
    margin: 10px; 
}


.add-button {
    background-color: #23b345;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.add-button:hover {
    background-color: #0aa62c;
}

.remove-button {
    background-color: #e52033;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.remove-button:hover {
    background-color: #bc0517;
}

.edit-button {
    background-color: #2394e0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.edit-button:hover {
    background-color: #0982d9;
}

.save-button {
    background-color: #e98e44;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.save-button:hover {
    background-color: #cb6a16;
}



.navbar {
    background-color: rgb(90, 169, 244);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 60px;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: white;
}



footer {
    background-color: rgb(90, 169, 244);
    padding: 40px 0;
    position: fixed; 
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center; 
}

footer p {
    margin: 5px;
    color: white;
}

.p-footer {
    margin-top: 5px;
}


